/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

*, *:before, *:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
       -moz-box-sizing: border-box; /* Needed for Firefox */
            box-sizing: border-box;

    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none; /* IE 10+ */
            user-select: none;
}

html {
    width: 100%; height: 100%;
    background-color: #000000;
    color: #000000;
        
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {      
    width: 100%; height: 100%;
    margin: 0px; padding: 0px;
    font: 16px/26px 'Open Sans', sans-serif, Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}






#main_wrapper{
    display: block;
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;

}

#player_viewport{
    display: block;
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;

    -webkit-transition: left 500ms, width 500ms;
       -moz-transition: left 500ms, width 500ms;
         -o-transition: left 500ms, width 500ms;
            transition: left 500ms, width 500ms;
}
#main_wrapper.side_open #player_viewport{
    left: 320px;
    width: calc(100% - 320px);
}

#player_watermark{
    display: block;
    position: absolute;

    left:50px;
    bottom:50px;

    width: 42px;
    height:48px;

    background-image:url('../img/watermark.png');
    background-repeat: no-repeat;
    background-size: 42px 48px;
    z-index: 1000;

    opacity: 0.333;

    cursor: pointer;

    -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
            clip-path: polygon(0 0, 0 100%, 100% 50%);

    -webkit-transition: opacity 500ms;
       -moz-transition: opacity 500ms;
         -o-transition: opacity 500ms;
            transition: opacity 500ms;
}
#player_watermark:hover{
    opacity: 0.666;
}
#player_watermark.live{
    opacity: 0.666;

}

#ytplayer{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

}

#chrome_wrapper{
    display: block;
    position: absolute;
    top: 0; left: -320px;
    width: 320px;
    height: 100%;

    background-color:#394658;
    overflow: hidden;

    -webkit-transition: left 500ms;
       -moz-transition: left 500ms;
         -o-transition: left 500ms;
            transition: left 500ms;
}
#main_wrapper.side_open #chrome_wrapper{
    left: 0px;
}

#titlebar_wrapper{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    height: 48px;
    padding: 0px 10px;
    font-size: 22px;

    border-style: solid;
    border-width: 0;
    border-color: rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.25);

}
    #titlebar_wrapper .btn{
        display: inline-block;
        position: relative;
        float: left;
        width: calc(33.333% - 2px);
        height: 100%;
        text-align: center;
        cursor: pointer;
        color: #fff;
        padding: 10px;
        margin: 0 1px;

        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: transparent;
    }
    #titlebar_wrapper .btn:hover{
        border-color: rgba(255,255,255, 0.1);
        background-color:rgba(255,255,255,0.1);
    }
    #titlebar_wrapper .btn:active{
        color:#394658;
        border-color: #fff;
        background-color: #fff;
    }
    #titlebar_wrapper .btn.active{
        color: #fff;
        border-color: #59faad;
        background-color: rgba(255,255,255,0.1);
        cursor: default;
    }

#watch_wrapper{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

#channels_wrapper{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;

    max-height: calc(100% - 48px);
    padding: 0; margin: 0px;
    overflow-x: hidden;
}
    #suggested_wrapper,
    #followed_wrapper,
    #history_wrapper{
        display: inline-block;
        position: relative;
        width: 100%; height: auto;
        float: left; overflow: hidden;
        padding: 0; margin: 0px;
    }
        #suggested_wrapper::before,
        #followed_wrapper::before,
        #history_wrapper::before{
            content: '';
            display: inline-block;
            position: relative;
            text-align: center;
            width: 100%;
            color: rgba(255,255,255,0.5);
            font-size: 12px;
            line-height: 30px;
            font-weight: 300;
        }
        #followed_wrapper::before{
            content:'FOLLOWED STREAMS';
            display: inline-block;
            position: relative;
        }
        #history_wrapper::before{
            content:'PREVIOUSLY WATCHED';
            display: inline-block;
            position: relative;
        }

        #channels_wrapper .channel{
            display: inline-block;
            position: relative;
            float: left;
            width: 100%; height: auto; 
            min-height: 72px;
            padding: 10px; 
            margin: 0px;
            color: #ffffff;
            cursor: pointer;
            
            border-style: solid;
            border-width: 1px 0;
            border-color: #4f6074;
            border-bottom-color: #435264;
            -webkit-box-shadow: inset -1px 0 0 #36414f;
               -moz-box-shadow: inset -1px 0 0 #36414f;
                    box-shadow: inset -1px 0 0 #36414f;
            background-color: transparent;

        }
        
        #channels_wrapper .channel.edit{
            left:50px;
        }

            #channels_wrapper .channel .options{
                display: inline-block;
                position: absolute;
                left: -50px; top: 0px;
                width: 50px; height: 100%;
                background-color: rgba(0,0,0,0.2);
                text-align: center;
                line-height: 72px;
            }
                #channels_wrapper .channel .options .btn.delete{
                    display: inline-block;
                    position: relative;
                    width: 100%; height: 100%;
                    color:#ffffff;
                }
                #channels_wrapper .channel .options .btn.delete:active{
                    background-color:rgba(255, 0, 0, 0.7);
                }


            #channels_wrapper .channel .info{
                display: inline-block;
                position: absolute;
                left: 0px; top: 0px;
                width: 100%; height: 100%;
                padding: inherit; 
            }
            #channels_wrapper .channel .info:hover{
                background-color: rgba(255,255,255,0.05);
            }
            #channels_wrapper .channel .info:active{
                background-color: rgba(255,255,255,0.1);
            }

                #channels_wrapper .channel .avatar{
                    display: inline-block;
                    position: absolute;
                    left: 10px; top: 10px;
                    width: 48px; height: 48px;
                    border-radius: 48px;
                }
                #channels_wrapper .channel .name{
                    display: inline-block;
                    position: relative;
                    float: left;
                    width: 100%;
                    height: auto;
                    padding: 0 0 0 58px;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 14px;
                    margin: 0px 0 8px 0;

                }
                #channels_wrapper .channel .screen_name{
                    display: inline-block;
                    position: relative;
                    float: left;
                    width: 100%;
                    height: auto;
                    padding: 0 0 0 58px;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 11px;
                    color: rgba(255,255,255,0.7);
                    margin: 0px 0 8px 0;
                }
                #channels_wrapper .channel .views{
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: auto;
                    height: auto;
                    padding: 3px 5px;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 14px;
                    color: rgba(255,255,255,0.7);
                    background-color: rgba(0,0,0,0.2);
                    border-radius: 30px;
                }

            input.follow{
                display: inline-block;
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: auto;
                height: 20px;
                background-color: #f4f4f4;
                padding: 0 4px;
                border-style: solid;
                border-width: 1px;
                border-color: #f4f4f4;
                font-size: 12px;
                border-radius: 4px;
                line-height: 16px;
                cursor: pointer;
                color: #53D063;
            }
            input.follow:active{
                opacity: 0.7;
            }
            input.follow:focus{
                outline:0;
                border-color: rgba(83, 208, 99, 0.35);
            }
            #channels_wrapper .channel.followed input.follow{
                color: #f4f4f4;
                background-color: #53D063;
                border-color: #53D063;
            }
#settings_wrapper{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 24px 0 0 0;
}
    #settings_wrapper .button-twitter {
        height: 54px;
        background: #2B3542;
        color: #ffffff;
        font-size: 18px;
        font-weight: normal;
    }

#search_wrapper{
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    height: 68px;
    padding: 10px;
    font-size: 22px;

}
#search_wrapper::after{
    content: '@';
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 48px;
    color: lightgrey;
    padding-left: 10px;
    line-height: 46px;
}

    input#search_input{
        display: inline-block;
        position: relative;
        width: 100%;
        height: 48px;
        background-color: #ffffff;
        padding: 0 70px 0 30px;
        border-style: solid;
        border-width: 2px;
        border-color: #394658;
        font-size: inherit;
        color: #4f6074;
    }
    input#search_input:focus{
        outline:0;
        border-color: #4f6074;
    }

    input#search_button{
        display: inline-block;
        position: absolute;
        top: 22px;
        right: 22px;
        width: auto;
        height: 24px;
        background-color: #f4f4f4;
        padding: 0 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #f4f4f4;
        font-size: 14px;
        border-radius: 4px;
        line-height: 24px;
        cursor: pointer;
        color: #53D063;
    }
    input#search_button:active{
        opacity: 0.7;
    }
    input#search_button:focus{
        outline:0;
        border-color: rgba(83, 208, 99, 0.35);
    }




    @-webkit-keyframes rotating /* Safari and Chrome */ {
      from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes rotating {
      from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    .rotating {
      -webkit-animation: rotating 2s linear infinite;
         -moz-animation: rotating 2s linear infinite;
          -ms-animation: rotating 2s linear infinite;
           -o-animation: rotating 2s linear infinite;
              animation: rotating 2s linear infinite;
    }

    @-webkit-keyframes dimming /* Safari and Chrome */ {
      0% {
        opacity: 1;
      }
      25% {
        opacity: 0.25;
      }
      50% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.25;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes dimming {
      0% {
        opacity: 1;
      }
      25% {
        opacity: 0.25;
      }
      50% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.25;
      }
      100% {
        opacity: 1;
      }
    }
    .dimming {
      -webkit-animation: dimming 2s linear infinite;
         -moz-animation: dimming 2s linear infinite;
          -ms-animation: dimming 2s linear infinite;
           -o-animation: dimming 2s linear infinite;
              animation: dimming 2s linear infinite;
    }
    
#searching_wrapper{
    display: inline-block;
    position: absolute;
    top: 68px;
    left: 0px;
    z-index: 10;
    opacity: 0.9;
    width: 100%; height: 0px;
    padding: 0;
    text-align: left;
    background-color: #4f6074;
    color: #ffffff;
    overflow: hidden;
    
    -webkit-transition: height ease-in 250ms, padding ease-in 250ms;
       -moz-transition: height ease-in 250ms, padding ease-in 250ms;
         -o-transition: height ease-in 250ms, padding ease-in 250ms;
            transition: height ease-in 250ms, padding ease-in 250ms;
}
#searching_wrapper.searching{
    height: 44px;
    padding: 10px 0;
}
    #searching_spinner{
        display: inline-block;
        position: relative;
        float: left;
        width: 24px; height: 24px;

        margin: 0 0 0 10px;

        background-image: url('../img/watermark.png');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 2px 2px;
    }
        #failed_wrapper #searching_spinner{
            background-image: url('../img/logo_io.png');
        }

    #searching_message{
        display: inline-block;
        position: relative;
        float: left;
        width: auto; height: auto;
        margin: 0 0 0 8px;

    }

    input#cancel_search_button{
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: auto;
        height: 24px;
        background-color: transparent;
        padding: 0 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #f4f4f4;
        font-size: 14px;
        border-radius: 4px;
        line-height: 22px;
        cursor: pointer;
        color: #f4f4f4;
    }
    input#cancel_search_button:active{
        opacity: 0.7;
    }
    input#cancel_search_button:focus{
        outline:0;
    }

#failed_wrapper{
    display: inline-block;
    position: absolute;
    top: 68px;
    left: 0px;
    /*position: relative;
    float: left;*/
    z-index: 10;
    opacity: 0.9;
    width: 100%; height: 0px;
    padding: 0px 0;
    text-align: left;
    background-color: #4f6074;
    color: #ffffff;
    overflow: hidden;
    
    -webkit-transition: height ease-in 250ms, padding ease-in 250ms;
       -moz-transition: height ease-in 250ms, padding ease-in 250ms;
         -o-transition: height ease-in 250ms, padding ease-in 250ms;
            transition: height ease-in 250ms, padding ease-in 250ms;

}
#failed_wrapper.failed{
    height: 44px;
    padding: 10px 0;
}
    #failed_message{
        display: inline-block;
        position: relative;
        float: left;
        width: auto; height: auto;
        margin: 0 0 0 8px;

    }

    input#close_failed_button{
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: auto;
        height: 24px;
        background-color: transparent;
        padding: 0 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #f4f4f4;
        font-size: 14px;
        border-radius: 4px;
        line-height: 22px;
        cursor: pointer;
        color: #f4f4f4;
    }
    input#close_failed_button:active{
        opacity: 0.7;
    }
    input#close_failed_button:focus{
        outline:0;
    }


#schedule_wrapper{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    max-height: calc(100% - 116px);
    float: left;
    padding: 0px;
    margin: 0px;
    background-color: #435264;
    overflow-x: hidden;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #4f6074;

}
    #progress_wrapper{
        display: block;
        position: absolute;
        top: 0px; left: 0px;

    }

    .track{
        display: inline-block;
        position: relative;
        float:left;

        height:auto;
        min-height:48px; 

        width: 100%;
        color:#ffffff;

        padding: 10px 15px;
        border-style: solid;
        border-width: 1px 0;
        border-color: #4f6074;
        border-bottom-color: #435264;

        -webkit-box-shadow: inset -1px 0 0 #36414f;
           -moz-box-shadow: inset -1px 0 0 #36414f;
                box-shadow: inset -1px 0 0 #36414f;

        background-color: transparent;
        text-align: center;
    }
    .track:active{
        /*background-color: rgba(0, 0, 0, 0.1);*/
    }
        .track .indicator{
            display: inline-block;
            position: absolute;
            left: 0px; top:0px;
            height: 100%; width: 5px;
            background-color: transparent;
        }
        .track.playing .indicator{
            background-color: #59faad !important;
        }
        .track.watched .indicator{
            background-color: rgba(89, 250, 173, 0.3);
        }
        .track.error .indicator{
            background-color: lightcoral;
        }

        .track .progress{
            display: inline-block;
            position: absolute;
            left: 0px; top:0px;
            height: 100%; width: 0px;
            background-color: rgba(255, 255, 255, 0.1);

            -webkit-transition: width 1s;
               -moz-transition: width 1s;
                 -o-transition: width 1s;
                    transition: width 1s;
        }
        .track.watched .progress{
            width: 100%;
        }

        .track .started{
            display: inline-block;
            position: relative;
            float: left;
            text-align: left;
            width: auto;
            height: auto;
            font-size: 10px;
            line-height: initial;
            opacity: 0.5;
            margin-bottom: 5px;
            color: #ffffff;
            text-decoration: none;
        }
        .track .started:hover{
            text-decoration: underline;
        }  
            .track .started .fromNow,
            .track .started .exactDate{
                display: inline-block;
                position: relative;
                width: auto; height: auto;
            }
            .track .started .exactDate{
                display: none;
            }
            .track .started:hover .exactDate{
                display: inline-block;
            }
            .track .started:hover .fromNow{
                display: none;
            }

        .track .text{
            display: inline-block;
            position: relative;
            float:left;
            width: 100%; height: auto;
            line-height: 20px;
            font-size: 12px;
            text-align: left;

            -webkit-user-select: initial;
             -khtml-user-select: initial;
               -moz-user-select: initial;
                -ms-user-select: initial; /* IE 10+ */
                    user-select: initial;
        }
            .text a{
                text-decoration: none;
                color: #ffffff;
            }
            .text a:hover{
                text-decoration: underline;
            }
            .text a.channel{
                color: #59faad;
            }
            .text a.channel:hover{
                /*text-decoration: none;*/

            }
            .track .text .emoji{
                width: 16px;
            }

        .track .url{
            display: inline-block;
            position: relative;
            float:left;
            width: 100%; height: auto;
            line-height: 20px;
            font-size: 10px;
            text-align: left;
        }

        .track .controls{
            display: inline-block;
            position: relative;
            float:left;
            width: calc(100% + 8px); height: auto;
            /*line-height: 20px;*/
            /*font-size: 10px;*/
            text-align: left;
            margin: 5px 0 0 0;
            left: -4px;
        }
        .track.error {
            background-color: rgba(0,0,0,0.05);
        }
        /*.track.error .controls{
            display: none;
        }*/
        .track.error .text,
        .track.error .text a,
        .track.error .started{
            color: lightcoral;
            opacity: 0.5;
        }

            .track .controls .btn{
                display: inline-block;
                position: relative;
                float: left;
                text-align: center;
                width: 22px; height: 22px;
                opacity: 0.7;
                margin: 0 4px 0 0;
                cursor: pointer;
            }
            .track .controls .btn:active{
                opacity: 1;
            }
            .track .controls .btn.right{
                float: right;
                margin: 0 0 0 4px;
            }
            .track .controls .btn.pause{
                display: none;
            }
            .track.playing .controls .btn.pause{
                display: inline-block;
            }
            .track .controls .btn.fav.diamond{
                color: gold;
            }


.timeSlider_holder{
    display: inline-block;
    display: none;
    position: absolute;
    
    bottom:0px;
    left:0px;
    width: 100%;
    height: 13px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;
}

.timeSlider_holder:hover{
    
    bottom:0px;
}

#fractionLoaded{
    display: inline-block;
    position: absolute;
    top:0px; left:0px;
    height: 100%; width: auto;
    background-color: rgba(255, 255, 255, 0.15);

    -webkit-transition: width 1s;
       -moz-transition: width 1s;
         -o-transition: width 1s;
            transition: width 1s;
}

.timeSlider {
    display: inline-block;
    position: absolute;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
    cursor: pointer;
    
    top: 12px; left: 0px;
    
    -webkit-transition: top ease-in 250ms;
       -moz-transition: top ease-in 250ms;
         -o-transition: top ease-in 250ms;
            transition: top ease-in 250ms;

}
#player_viewport:hover .timeSlider{
    top: 0px;

    -webkit-transition: top ease-in 500ms;
       -moz-transition: top ease-in 500ms;
         -o-transition: top ease-in 500ms;
            transition: top ease-in 500ms;
}

.timeSlider .ui-slider-handle {
    display: inline-block;
    position: absolute;
    top: 0; left: 0;
    width: 0px; height: 20px;
    cursor: pointer;
    background-color: #fff;
    z-index: 3;
    
    /*-webkit-transition: width 1s;
       -moz-transition: width 1s;
         -o-transition: width 1s;
            transition: width 1s;*/
}
.timeSlider .ui-slider-range {
    display: inline-block;
    position: absolute;
    
    width: auto; height: 100%;
    background-color: #C0362C;
    z-index: 2;

    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: #C0362C;

    /*-webkit-transition: width 1s;
       -moz-transition: width 1s;
         -o-transition: width 1s;
            transition: width 1s;*/
}
.timeSlider.vertical {
  height: auto;
  width: 12px;
}
.timeSlider.vertical .ui-slider-range {
  position: absolute;
  height: auto;
  width: 20px;
  bottom: 0;
}
.timeSlider:hover .ui-slider-range {
  background-color: #C0362C;
}
.timeSlider:active .ui-slider-range,
.timeSlider:active + .ui-slider-handle:active .ui-slider-range {
  background-color: #CF3B30;
}

#timer_current{
    display:none;
    position: absolute;
    top: 1px;
    left:5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:9px;
    color: #fff;
    z-index: 4;
    
    height: 10px;
    line-height: 10px;
}

#timer_duration{
    display:none;
    position: absolute;
    top: 1px;
    right:5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:9px;
    color: #fff;
    z-index: 4;
    
    height: 10px;
    line-height: 10px;
}

#channel_info_wrapper{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 40px;
    width: auto;
    height: 68px;
    /*min-width: 200px;*/
    padding: 10px 10px 10px 68px;
    border-radius: 6px 6px 0 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    -webkit-transition: border-radius 500ms;
       -moz-transition: border-radius 500ms;
         -o-transition: border-radius 500ms;
            transition: border-radius 500ms;

}

    #channel_info_wrapper .avatar{
        display: inline-block;
        position: absolute;
        left: 10px; top: 10px;
        width: 48px; height: 48px;
        border-radius: 48px;
    }

    #channel_info_wrapper .name{
        display: block;
        position: relative;
        width: auto; height: auto;
        color:#fff;
        font-size: 20px;
        font-weight: 300;

    }

    #channel_info_wrapper .screen_name{
        display: block;
        position: relative;
        width: auto; height: auto;
        color: rgba(255,255,255,0.75);
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;

    }

    #channel_info_wrapper .follow_btn{
        display: block;
        position: absolute;
        top: 68px;
        left: 0px;
        width: 100%;
        height: 20px;
        background-color: #fff;
        color: #53D063;
        font-size: 11px;
        font-weight: 500;
        text-align: center;
        line-height: 20px;
        border-radius: 0 0 6px 6px;
        overflow: hidden;

        -webkit-transition: height 500ms;
           -moz-transition: height 500ms;
             -o-transition: height 500ms;
                transition: height 500ms;

    }
        #channel_info_wrapper .follow_btn span{
            display: inline-block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%; height: 20px;
            text-align: center;
        }

#channel_info_wrapper.followed{
    border-radius: 6px;
}

    #channel_info_wrapper.followed .follow_btn{
        height: 0px;
    }

#track_tweet_wrapper{
    display: inline-block;
    position: absolute;
    top: 40px;   right: 40px;
    width: auto; height: auto;
    max-width: calc(100% - 340px);

    padding: 5px 10px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.33);
    color: rgba(255,255,255,0.66);
    font-size: 14px;
    line-height: 20px;
}
    #track_tweet_wrapper a{
        color: rgba(255,255,255,0.66);
        text-decoration: none;
    }
    #track_tweet_wrapper a:hover{
        color: #59faad;
        /*text-decoration: underline;*/
    }

#toggle_sidebar_btn{
    display: inline-block;
    position: absolute;
    top: calc(50% - 50px);
    left: 0px;
    background-color: rgba(255,255,255,0.1);
    width: 30px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255,255,255,0.1);
    line-height: 100px;
    text-align: center;
    color: rgba(255,255,255,0.2);
    cursor: pointer;
    opacity: 0;

    -webkit-transition: opacity 500ms;
       -moz-transition: opacity 500ms;
         -o-transition: opacity 500ms;
            transition: opacity 500ms;
}
#toggle_sidebar_btn:hover{
    background-color: rgba(255,255,255,0.15);
    color: rgba(255,255,255,0.25);
}
#toggle_sidebar_btn:active{
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
}
#player_viewport:hover #toggle_sidebar_btn{
    opacity: 1;
}

    #toggle_sidebar_btn .fa-chevron-left{
        display: none;
    }
    #main_wrapper.side_open #toggle_sidebar_btn .fa-chevron-right{
        display: none;
    }
    #main_wrapper.side_open #toggle_sidebar_btn .fa-chevron-left{
        display: inline-block;
    }


#splash_wrapper{
    display: inline-block;
    position: absolute;
    top:0px; left:0px;
    width:100%; height:100%;
    background-color:#ffffff;

    border-top: 6px solid #FF4F00;
    text-align: center;
}
    #splash_wrapper .content{
        display: inline-block;
        position: relative;
        top: calc(50% - 130px);

        width: auto;
        height:auto;

    }
        #splash_wrapper .logo{
            display: inline-block;
            position: relative;

            width: 90px;
            height:90px;

            background-image:url('../img/logo_io.png');
            background-repeat: no-repeat;
            background-size: 100% auto;

        }
        #splash_wrapper .oneliner{
            display: inline-block;
            position: relative;

            width: auto;
            height:auto;

            margin-top: 20px;
            margin-bottom: 28px;
            font-size: 26px;
            font-weight: normal;
            color: #38566F;
            line-height: 1.1;

        }
        #splash_wrapper .button-twitter {
            height: 54px;
            background: #FF4F00;
            color: #ffffff;
            font-size: 18px;
            font-weight: normal;
        }